body {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #000;
    width: 80%;
	margin-left:30px;
    margin-bottom: 300px
}

li {
	margin-bottom:15px;
	margin-top:15px;
}

.note {
	border: 1px solid green;
	border-radius: 5px;
	border-left: 3px solid green;
	padding: 2px;
	
}

.note::before {
	content: 'Note:  ';	
}


table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}



