body {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #000;
    width: 80%;
	margin-left:30px;
    margin-bottom: 300px
}

li {
	margin-bottom:15px;
	margin-top:15px;
}

.note {
	border: 1px solid green;
	border-radius: 5px;
	border-left: 3px solid green;
	padding: 2px;
	
}

.note::before {
	content: 'Note:  ';	
}


table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}



/*

@import 'jquery-ui.theme.css';@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);h1.uppercase,h2.uppercase,h3.uppercase,h4.uppercase,h5.uppercase,h6.uppercase,h7.uppercase,span.uppercase {
    text-transform: uppercase
}

MadCap|variable.lowercase,h1.lowercase,h2.lowercase,h3.lowercase,h4.lowercase,h5.lowercase,h6.lowercase,h7.lowercase,span.lowercase {
    text-transform: lowercase
}

MadCap|variable.capitalize,h1.capitalize,h2.capitalize,h3.capitalize,h4.capitalize,h5.capitalize,h6.lowercase,h7.lowercase,span.capitalize {
    text-transform: capitalize
}

.underlineText,.underlinedText,p.underlineText,p.underlinedText,span.underlineText,span.underlinedText {
    text-decoration: underline
}

.boldText,p.boldText,span.boldText {
    font-weight: 700
}

.italicText,p.italicText,span.italicText {
    font-style: italic
}

.guiSetting,p.guiSetting,span.guiSetting {
    font-weight: 700
}

.guiLabel,p.guiLabel,span.guiLabel {
    font-style: italic
}

@media print {
    .fa-book {
        display: none
    }
}

a i[class*=fa] {
    padding-right: 3px
}

a[class*=fa]::before {
    display: none;
    font-family: fontawesome;
    font-size: .6em;
    padding-right: 2px
}

a[class*=fa] {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif
}

html.popup {
    mc-master-page: url('../MasterPages/Control - Glossary Popup.flmsp');
    mc-disable-glossary-terms: true
}

html.popup #contextHelpControls {
    display: none
}

html.popup p {
    font-size: .9em
}

html.popup h1 {
    margin-top: 0
}

html.modalWindow {
    mc-master-page: url('../MasterPages/Modal Window.flmsp');
    mc-disable-glossary-terms: true
}

.MCTopicPopupContainer {
    top: 20%;
    left: 25%;
    right: 25%;
    bottom: 40%;
    padding-top: 3px
}

.keepLinesTogether {
    page-break-inside: avoid
}

h3.keepWithNext {
    font-family: MontrealTS-DemiBoldRegular
}

p.keepWithNext {
    page-break-after: avoid
}

ul.keepWithPrevious {
    page-break-before: avoid
}

div.newPage,h1.newPage,h2.newPage,h3.newPage,h4.newPage,h5.newPage,h6.newPage,h7.newPage,li.newPage,p.newPage,table.newPage {
    page-break-before: always
}

h1.noPageBreakBefore {
    page-break-before: avoid;
    page-break-after: avoid;
    page-break-inside: avoid
}

@media print {
    body.internalUseOnlyWatermark {
        background-image: url(../../Resources/Images/Watermarks/InternalUseOnlyDiag.JPG);
        background-repeat: no-repeat;
        opacity: 0;
        background-position: 30% 30%
    }

    div.keepWithNext {
        page-break-after: avoid
    }

    div.keepLinesTogether {
        page-break-inside: avoid
    }

    h1.keepWithNext,h2.keepWithNext,h3.keepWithNext,h4.keepWithNext,h5.keepWithNext,h6.keepWithNext,h7.keepWithNext,p.keepWithNext {
        page-break-after: avoid
    }

    ol,p,td,ul {
        orphans: 3;
        widows: 3
    }

    a:link {
        color: #00f;
        text-decoration: underline
    }

    h1.TOC {
        mc-heading-level: 0;
        page-break-before: always
    }

    img.limitPrintWidth {
        max-width: 3in
    }

    a.Popup {
        mc-popup-width: auto;
        mc-popup-height: auto
    }

    div.watermark {
        -webkit-filter: opacity(.2)
    }
} */



/*
body.contextHelp {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif
}

div {
    mc-next-tag: p
}

div.copyPageLink {
    font-style: italic;
    font-size: .9em;
    float: right;
    text-align: right
}

div.copyPageLink a,div.copyPageLink div {
    float: right
}

table {
    border-collapse: collapse
}

table.TableStyle-Storage-API-Two-Column {
    width: 847px!important
}

table[class^=TableStyle-element_tablestyle] {
    margin-left: 0;
    margin-right: auto;
    width: 100%
}

tr.limelightGreenBottomBorder {
    border-bottom: solid #a2b378
}

td {
    font-size: 14px;
    padding-top: 3pt;
    padding-bottom: 3pt;
    padding-right: 0;
    vertical-align: top;
    text-align: left
}

td p {
    font-size: 1em
}

td>p:first-child {
    margin-top: 0
}

td>p:last-child {
    margin-bottom: 0
}

td>p:only-child {
    margin-top: 0;
    margin-bottom: 0
}

td.center {
    text-align: center;
    vertical-align: middle
}

td table {
    width: 100%
}

div#noWrapFirstCol td[class*=Column1],div#noWrapFirstCol td[class*=Column1] p,div#noWrapFirstCol th[class*=Column1],div#noWrapFirstCol th[class*=Column1] p {
    white-space: nowrap
}

.pre,pre {
    font-family: Consolas,"Bitstream Vera Sans Mono","Courier New",Courier,Monaco,'Andale Mono',monospace!important;
    font-size: 1em!important
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif
}

.title1,h1 {
    mc-heading-level: 1;
    font-size: 1.6em;
    font-weight: 700;
    color: #212121;
    margin-top: 12pt;
    margin-bottom: 6pt;
    page-break-after: avoid;
    page-break-inside: avoid
}

.title2,h2 {
    mc-heading-level: 2;
    font-size: 1.4em;
    font-weight: 700;
    color: #212121;
    margin-top: 12pt;
    margin-bottom: 6pt;
    page-break-after: avoid;
    page-break-inside: avoid
}

.title1 {
    font-size: 70px
}

.title2 {
    font-size: 28px
}

.title1,.title2 {
    color: #fff
}

h3 {
    mc-heading-level: 3;
    font-size: 1.3em;
    font-weight: 700;
    color: #212121;
    margin-top: 12pt;
    margin-bottom: 6pt;
    page-break-after: avoid;
    page-break-inside: avoid
}

h4 {
    mc-heading-level: 4;
    font-size: 1.2em;
    font-weight: 700;
    font-style: italic;
    color: #212121;
    margin-top: 12pt;
    margin-bottom: 6pt;
    page-break-after: avoid;
    page-break-inside: avoid
}

h5 {
    mc-heading-level: 5;
    font-size: 1.1em;
    font-weight: 700;
    color: #212121;
    margin-top: 12pt;
    margin-bottom: 6pt;
    page-break-after: avoid;
    page-break-inside: avoid
}

h6 {
    mc-heading-level: 6;
    font-size: 1em;
    font-weight: 400;
    text-decoration: underline;
    color: #212121;
    margin-top: 12pt;
    margin-bottom: 6pt;
    page-break-after: avoid;
    page-break-inside: avoid
}

p {
    margin-top: 6pt;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 14px
}

p+div[class*=FeatureLayout],p+table {
    margin-top: 1em
}

ol,ul {
    margin-top: .5em
}

ul {
    list-style-position: outside;
    list-style-type: disc
}

ul ul {
    list-style-type: circle
}

li {
    margin-bottom: .2em;
    font-size: .9em
}

li>p {
    margin-top: .25em;
    margin-bottom: .5em
}

li li,li p {
    font-size: 1em
}

td ul {
    margin-left: 1em;
    padding-left: 1em
}

ol.alphaNumberingLowerCase {
    list-style-type: lower-alpha
}

ol {
    margin-left: 2em
}

@media screen {
    ol,ul {
        margin: 0 0 0 1em;
        padding: 0 0 0 1em
    }

    li {
        padding: 0
    }
}

@media print {
    ul {
        margin-left: 3em;
        padding-left: 0
    }

    ul ul {
        margin-left: 1.75em;
        padding-left: 0
    }

    li {
        margin-left: 0;
        padding-left: 0
    }
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.makePopup {
    mc-thumbnail: popup;
    mc-thumbnail-max-height: 150px
}

a {
    color: #15c;
    text-decoration: underline
}

a:hover {
    color: #00f
}

a.welcome {
    text-decoration: none;
    color: #fff
}

a.welcome:hover {
    text-decoration: none;
    color: #f38f1d;
    background-color: #fff
}

a.Popup {
    mc-popup-height: 300px;
    mc-popup-width: 400px
}

hr.limelightGreenThin {
    background-color: #a2b378;
    height: .5px;
    border: .5px solid #a2b378
}

li.nowrap,p.nowrap,span.nowrap,td.nowrap {
    white-space: nowrap
}

div.SpaceBeforeAfter,li.SpaceBeforeAfter,p.SpaceBeforeAfter {
    padding-top: 1em;
    padding-bottom: 1em
}

div.SpaceBefore,li.SpaceBefore,p.SpaceBefore {
    padding-top: 1em
}

ul.SpaceBefore li {
    padding-top: .6em
}

div.SpaceAfter,li.SpaceAfter,p.SpaceAfter {
    padding-bottom: 1em
}

ul.SpaceAfter li {
    padding-bottom: .6em
}

div.SpaceBefore2,p.SpaceBefore2 {
    padding-top: 2em
}

ul.SpaceBefore2 li {
    padding-top: 1.2em
}

div.SpaceAfter2,p.SpaceAfter2 {
    padding-bottom: 2em
}

ul.SpaceAfter2 li {
    padding-bottom: 1.2em
}

div.SpaceAfterSmall,li.SpaceAfterSmall,p.SpaceAfterSmall {
    margin-bottom: 0
}

div.SpaceBeforeSmall,li.SpaceBeforeSmall,p.SpaceBeforeSmall {
    margin-top: 0
}

img.sub {
    vertical-align: sub
}

img.super {
    vertical-align: super
}

img.top {
    vertical-align: top
}

img.text-top {
    vertical-align: text-top
}

img.middle {
    vertical-align: middle
}

img.bottom {
    vertical-align: bottom
}

img.text-bottom {
    vertical-align: text-bottom
}

img.lengthplus {
    vertical-align: 15px
}

img.lengthminus {
    vertical-align: -15px
}

.imgshadowed,.shadowed {
    -webkit-filter: drop-shadow(6px 6px 6px rgba(0,0,0,.4));
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, .4))
}

#autoToc a {
    display: list-item
}

.autoTocIndent1 {
    margin-left: 1em
}

.autoTocIndent2 {
    margin-left: 2em
}

.autoTocIndent3 {
    margin-left: 3em
}

.autoTocIndent4 {
    margin-left: 4em
}

.autoTocIndent5 {
    margin-left: 5em
}

table.TOC {
    border-collapse: separate;
    margin-top: 1em;
    margin-bottom: 1em
}

.TOC td {
    border: 1px solid #dadada;
    background-color: #fdfdfd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 1em;
    padding: 1em 3em 1em 1em
}

.TOC ul {
    white-space: nowrap;
    padding-left: 10px
}

.TOC li {
    padding-top: .25em;
    padding-bottom: .25em
}

p.TOC1 {
    margin-top: 6pt;
    margin-right: 0;
    color: #000;
    margin-bottom: 5pt;
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif
}

p.TOC2 {
    margin: 6pt 0 5pt 10pt;
    color: #000;
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif
}

p.TOC3 {
    margin: 6pt 0 5pt 20pt;
    color: #000;
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif
}

ul.menu._Skins_Menu___Chapter_TOC___Plain {
    margin: 0;
    padding: 0
}

ul.menu._Skins_Menu___Chapter_TOC___Plain a {
    text-decoration: underline
}

div.hint,div.note,div.notes,li.hint,li.note,p.hint,p.note,p.noteInternal {
    margin-left: 1em;
    margin-right: 1em
}

div.hint,div.note,div.notes,p.hint,p.note,p.noteInternal,span.note {
    font-size: .9em
}

div.hint,div.note,div.notes,p.hint,p.note,p.noteInternal {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 12px 18px
}

li.hint,li.note,p.hint,p.note,p.noteInternal {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em
}

p.hint,p.note,p.noteInternal {
    display: block
}

@media screen {
    p.hint,p.note,p.noteInternal {
        display: inline-block
    }
}

@media print {
    p.hint,p.note,p.noteInternal {
        display: block
    }
}

li.hint,li.note {
    list-style: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 9px
}

div.note,div.notes,li.note,p.note,p.noteInternal,span.note {
    background-color: #e6f3d4;
    border: 1px solid #61931d
}

p.noteInternal {
    background-color: #fffacd
}

div.hint,div.note,div.notes,p.note,p.noteInternal {
    margin-top: 1em;
    margin-bottom: 1em
}

div.hint,li.hint,p.hint {
    background-color: #e5e9ee;
    border: 1px solid #335378
}

div.hint::before,div.note::before,div.notes::before,li.hint::before,li.note::before,p.hint::before,p.note::before,p.noteInternal::before {
    font-weight: 700;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 1em
}

div.hint::before,p.hint::before {
    content: 'Hint:  '
}

div.note::before,li.note::before,p.note::before,span.note::before {
    content: 'Note:  '
}

p.noteInternal::before {
    content: 'Internal Note:  '
}

div.notes::before {
    content: 'Notes:  '
}

.caution,span.caution {
    margin: 1em;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #f9facd;
    border: 1px solid #ddd;
    border-radius: 6px
}

div.sidebar {
    font-style: italic;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 4px solid;
    border-left-color: #8cc63f;
    padding: 5px;
    background-color: #dde4e9
}

sidebar:first-child {
    font-weight: 700;
    font-style: normal
}

div[class*=MCDropDown_] {
    margin-bottom: 6px
}

#navProxy ul.menu._Skins_Menu___Nav li>a {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.25em
}

#how table {
    border-collapse: collapse;
    border: 0
}

#how tr {
    border: 0
}

#how tr:nth-child(odd) {
    background: #f7f7f7
}

#how th {
    color: #b45f06;
    font-weight: 700;
    text-align: center;
    vertical-align: bottom
}

#how td {
    background-color: #fcedde;
    vertical-align: top
}

#how td,th {
    padding: 6px;
    border: 0;
    text-align: left
}

#how #leftCol {
    width: 40%
}

#how #rightCol {
    width: 60%
}

#rssResults {
    margin-left: 12px;
    font-family: monospace;
    font-size: .9em
}

div.ReviewerComment,div.WriterComment,div.WriterNoteToSelf,p.ReviewerComment,p.WriterComment,p.WriterNoteToSelf,span.ReviewerComment,span.WriterComment,span.WriterNoteToSelf {
    font-size: 1em;
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 10px
}

div.WriterNoteToSelf,p.WriterNoteToSelf,span.WriterNoteToSelf {
    font-size: .9em;
    background-color: pink
}

div.WriterComment,p.WriterComment,span.WriterComment {
    font-size: .9em;
    background-color: #ffffb3
}

div.ReviewerComment,p.ReviewerComment,span.ReviewerComment {
    background-color: pink
}

span.ReviewerComment,span.WriterComment,span.WriterNoteToSelf {
    border: 1px solid #ddd;
    padding: .5em;
    border-radius: 4px
}

div.WriterNoteToSelf::before,p.WriterNoteToSelf::before,span.WriterNoteToSelf::before {
    content: "Note to myself: ";
    font-weight: 700;
    color: red
}

div.WriterComment::before,p.WriterComment::before,span.WriterComment::before {
    content: "Writers: ";
    font-weight: 700
}

div.ReviewerComment::before,p.ReviewerComment::before,span.ReviewerComment::before {
    content: "Reviewers: ";
    font-weight: 700
}

#apiSandbox h3 {
    display: block;
    page-break-before: always
}

#apiSandbox input:invalid {
    background-color: #f1bcbc
}

#apiSandbox input:valid {
    background-color: #fff
}

#apiSandbox .rounded {
    border-radius: 12px;
    border: 1px solid #ddd
}

#apiSandbox td.valueContainer input {
    width: 120px
}

#apiSandbox body,#apiSandbox p,#apiSandbox td,#apiSandbox th {
    font-size: 10pt
}

#apiSandbox body {
    margin: 24px;
    font-family: arial,sans-serif
}

#apiSandbox table {
    border-collapse: collapse
}

#apiSandbox table.rounded {
    border-collapse: initial
}

#apiSandbox td,#apiSandbox th {
    padding: 10px
}

#apiSandbox td {
    border: 1px solid #ddd;
    vertical-align: top
}

#apiSandbox table.noborder td,#apiSandbox table.rounded td {
    border: 0
}

#apiSandbox th {
    font-weight: 700;
    vertical-align: bottom
}

#apiSandbox button:hover {
    opacity: .8
}

#apiSandbox button:hover :after {
    opacity: 1
}

#apiSandbox #credentialsInfo ul {
    margin: 0
}

#apiSandbox #credentialsInfo ul li {
    margin: 6px
}

@media print {
    #apiSandbox .noprint {
        display: none
    }
}

#apiSandbox #chartButton,#apiSandbox #liveButton {
    margin: 0;
    padding-left: 12px;
    display: inline-flex
}

#apiSandbox #chartButton label,#apiSandbox #liveButton label {
    float: left
}

#apiSandbox #chartButton label span:hover,#apiSandbox #liveButton label span:hover {
    opacity: .8
}

#apiSandbox #chartButton #baseUrl,#apiSandbox #liveButton #baseUrl {
    margin-bottom: 12px
}

#apiSandbox #chartButton input,#apiSandbox #liveButton input {
    display: none
}

#apiSandbox #chartButton input+span,#apiSandbox #liveButton input+span {
    border-radius: 6px;
    padding: 2px 8px;
    text-align: center;
    font-size: 10pt;
    font-weight: 700
}

#apiSandbox #liveButton input+span {
    color: #fff;
    background-color: #76a932;
    border: 1px solid #fff;
    box-shadow: 3px 3px 5px 0 #dfdfdf
}

#apiSandbox #liveButton input:checked+span {
    color: #76a932;
    background-color: #fff;
    border: 1px solid #76a932
}

#apiSandbox #chartButton input+span {
    color: #76a932;
    background-color: #fff;
    border: 1px solid #76a932;
    box-shadow: none
}

#apiSandbox #chartButton input:checked+span {
    color: #fff;
    background-color: #76a932;
    border: 1px solid #fff
}

@media print {
    #apiSandbox #examples,#apiSandbox .live {
        display: none
    }

    #apiSandbox th {
        text-align: left
    }

    #apiSandbox p,#apiSandbox td {
        mc-hyphenate: never
    }

    #apiSandbox #paramsTable p,#apiSandbox #paramsTable pre,#apiSandbox #paramsTable span,#apiSandbox #paramsTable td,#apiSandbox #paramsTable th {
        font-size: .7em
    }
}

a.newMaterial,div.newMaterial,h1.newMaterial,h2.newMaterial,h3.newMaterial,h4.newMaterial,h5.newMaterial,li.newMaterial,ol.newMaterial,p.newMaterial,span.newMaterial,table.newMaterial,td.newMaterial,tr.newMaterial,ul.newMaterial {
    background-color: #ffffad
}

.FeatureTable {
    display: table;
    width: 100%;
    border: 1px solid #ccc
}

.FeatureRow,.FeatureVersionRow {
    display: table-row;
    border-collapse: collapse
}

.FeatureVersionRow {
    display: none
}

.FeatureRow>div,.FeatureVersionRow>div {
    display: table-cell;
    border-collapse: collapse;
    border: 0;
    border-top: 1px solid rgba(250,250,250,.2);
    padding: 4px;
    vertical-align: top
}

@media print {
    .FeatureRow>div,.FeatureVersionRow>div {
        border-top: 1px solid #fafafa
    }
}

.FeatureRow>div:first-child {
    width: 80px
}

.FeatureTable>div:first-child>div {
    border-top: 0
}

.FeatureTable>div:first-child>div:first-child {
    border: 0
}

.FeatureVersion {
    border: 1px solid #dedede;
    padding: 4px;
    background-color: rgba(250,250,250,.2);
    font-weight: 400;
    font-size: 90%;
    margin-right: .1em
}

@media print {
    .FeatureVersion {
        background-color: #fafafa
    }
}

.FeatureVersion+.FeatureTextInline {
    background-color: rgba(250,250,250,.2);
    border: 1px solid #dedede;
    padding: 5px
}

@media print {
    .FeatureVersion+.FeatureTextInline {
        background-color: #fafafa;
        border: 0
    }
}

.FeatureLabel {
    background-color: rgba(250,250,250,.2)
}

@media print {
    .FeatureLabel {
        background-color: #fafafa
    }
}

#FeatureTableHidden {
    border: 0;
    padding: default
}

#FeatureTableHidden .FeatureRow,#FeatureTableHidden .FeatureRow>div,#FeatureTableHidden .FeatureTable,#FeatureTableHidden .FeatureVersionRow,#FeatureTableHidden .FeatureVersionRow>div {
    border: 0;
    padding: 0
}

#FeatureTableHidden .FeatureRow>.FeatureLabel,#FeatureTableHidden .FeatureRow>.FeatureTextTableOnly,#FeatureTableHidden .FeatureTableOnly,#FeatureTableHidden .FeatureVersionRow>.FeatureLabel {
    display: none
}

[data-mc-conditions="Default.OnlySiteInternal"]+.FeatureTable .FeatureVersionRow {
    display: table-row
}

#FeatureTableHidden [data-mc-conditions="Default.OnlySiteInternal"]+.FeatureTable .FeatureRow {
    background-color: rgba(250,250,250,.2)
}

:not(#FeatureTableHidden)>.FeatureTable>.FeatureRow .FeatureTableNever {
    display: none
}

:not(#FeatureTableHidden)>.FeatureTable>.FeatureRow>div>p:first-child {
    margin-top: 0
}

:not(#FeatureTableHidden)>.FeatureTable>.FeatureRow>div>p:last-child {
    margin-bottom: 0
}

:not(#FeatureTableHidden)>.FeatureTable>.FeatureVersionRow>:not(\00002EFeatureLabel) {
    background-color: #fff
}

:not(#FeatureTableHidden)>.FeatureTable>.FeatureVersionRow .FeatureVersion {
    border: 0;
    padding: inherit;
    background-color: inherit;
    font-size: inherit
}

.Feature2Row,.Feature2Row>div,.Feature2Table,.Feature2VersionRow,.Feature2VersionRow>div {
    border: 0;
    padding: 0
}

.Feature2Row {
    margin-top: 6px
}

#FeatureCategory,#FeatureName,#FeatureReference,#FeatureType,.Feature2VersionRow {
    display: none
}

[data-mc-conditions="Default.OnlySiteInternal"]+.Feature2Table #FeatureReference {
    display: table-row
}

.Feature2Row>.Feature2Label,.Feature2Row>.Feature2TextTableOnly,.Feature2Table>.Feature2Row .Feature2TableNever,.Feature2TableOnly,.Feature2VersionRow>.Feature2Label {
    display: none
}

.Feature2Table>.Feature2Row>div>p:first-child {
    margin-top: 0
}

.Feature2Table>.Feature2Row>div>p:last-child {
    margin-bottom: 0
}

[data-mc-conditions="Default.OnlySiteInternal"]+.Feature2Table .Feature2VersionRow {
    display: table-row
}

[data-mc-conditions="Default.OnlySiteInternal"]+.Feature2Table .Feature2Row {
    background-color: rgba(250,250,250,.2)
}

.Feature2Table>.Feature2VersionRow>:not(\00002EFeature2Label) {
    background-color: #fff
}

.Feature2Label {
    background-color: #fafafa;
    font-weight: 700
}

@media screen {
    .Feature2Label {
        background-color: rgba(250,250,250,.2);
        font-weight: 400
    }
}

@media print {
    .Feature2Label {
        background-color: #fafafa;
        font-weight: 400
    }
}

.Feature2Version {
    border: 1px solid #dedede;
    padding: 4px;
    background-color: rgba(250,250,250,.2);
    font-weight: 400;
    font-size: 90%;
    margin-right: .1em
}

@media print {
    .Feature2Version {
        background-color: #fafafa
    }
}

.Feature2Version+.Feature2TextInline {
    background-color: rgba(250,250,250,.2);
    border: 1px solid #dedede;
    padding: 5px
}

@media print {
    .Feature2Version+.Feature2TextInline {
        background-color: #fafafa;
        border: 0
    }
}

#Feature2TableVisible .Feature2Table {
    display: table;
    width: 100%;
    border: 1px solid #ccc
}

#Feature2TableVisible .Feature2Row,#Feature2TableVisible .Feature2VersionRow {
    display: table-row;
    border-collapse: collapse;
    margin-top: 0
}

#Feature2TableVisible .Feature2VersionRow {
    display: none
}

#Feature2TableVisible [data-mc-conditions="Default.OnlySiteInternal"]+.Feature2Table .Feature2VersionRow {
    display: table-row
}

#Feature2TableVisible .Feature2Row>div,#Feature2TableVisible .Feature2VersionRow>div {
    display: table-cell;
    border-collapse: collapse;
    border: 0;
    border-top: 1px solid rgba(250,250,250,.2);
    padding: 4px;
    vertical-align: top
}

@media print {
    #Feature2TableVisible .Feature2Row>div,#Feature2TableVisible .Feature2VersionRow>div {
        border-top: 1px solid #fafafa
    }
}

#Feature2TableVisible .Feature2Table>.Feature2VersionRow .Feature2Version {
    border: 0;
    padding: inherit;
    background-color: inherit;
    font-size: inherit
}

#Feature2TableVisible .Feature2Row>div:first-child {
    width: 80px
}

#Feature2TableVisible .Feature2Table>div:first-child>div {
    border-top: 0
}

#Feature2TableVisible .Feature2Table>div:first-child>div:first-child {
    border: 0
}

.Feature3Table #Feature3JiraIds {
    margin-top: 6px
}

.Feature3Table p>p {
    font-size: 1em
}

.Feature3TableCell {
    vertical-align: top
}

.Feature3Version {
    display: none;
    margin-right: .1em;
    border: 1px solid #ccc;
    background-color: rgba(250,250,250,.2);
    padding: 4px;
    font-weight: 400;
    font-style: italic;
    font-size: 90%
}

@media screen {
    .Feature3Version {
        border: 1px solid #dedede
    }
}

[data-mc-conditions="Default.OnlySiteInternal"]+.BodyProxy .Feature3Version {
    display: block
}

@media screen {
    [data-mc-conditions="Default.OnlySiteInternal"]+.BodyProxy .Feature3Version {
        display: inline-block
    }
}

.Feature3ReleaseNotesOnly,.Feature3UserGuideOnly {
    display: none
}

[data-mc-conditions="Default.OnlySiteInternal"]+.BodyProxy span.Feature3Version {
    display: inline
}

[data-mc-conditions="Default.OnlySiteInternal"]+.BodyProxy span.Feature3Version+.Feature3TextInline {
    background-color: rgba(0,0,0,.04);
    border-left: 1px solid #ccc
}

.FeatureLayoutFullTable .Feature3Table {
    display: table;
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse
}

.FeatureLayoutFullTable .Feature3TableRow {
    display: table-row
}

.FeatureLayoutFullTable .Feature3TableCell {
    display: table-cell;
    padding: 4px;
    border: 1px solid #dfdfdf
}

.FeatureLayoutFullTable .WriterComment {
    display: none
}

.FeatureLayoutFullTable .Feature3ReleaseNotesOnly,.FeatureLayoutFullTable .Feature3UserGuideOnly {
    display: inline
}

.FeatureLayoutReleaseNotes .Feature3Table {
    display: table;
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse
}

.FeatureLayoutReleaseNotes .Feature3TableRow {
    display: table-row
}

.FeatureLayoutReleaseNotes .Feature3TableCell {
    display: table-cell;
    padding: 4px;
    border: 1px solid #dfdfdf
}

.FeatureLayoutReleaseNotes .Feature3TableCell>p:first-child {
    margin-top: 0
}

.FeatureLayoutReleaseNotes .Feature3TableCell>p:last-child {
    margin-bottom: 0
}

.FeatureLayoutReleaseNotes #Feature3Label {
    background-color: #fafafa;
    width: 80px
}

.FeatureLayoutReleaseNotes #FeatureDetailsRow,.FeatureLayoutReleaseNotes #FeatureNameRow,.FeatureLayoutReleaseNotes #FeatureTagsRow,.FeatureLayoutReleaseNotes #FeatureVersionRow {
    display: none
}

.FeatureLayoutReleaseNotes span.Feature3ReleaseNotesOnly {
    display: inline
}

.FeatureLayoutReleaseNotes div.Feature3ReleaseNotesOnly,.FeatureLayoutReleaseNotes p.Feature3ReleaseNotesOnly {
    display: block
}

.FeatureLayoutReleaseNotes #FeatureReferenceRow.Feature3ReleaseNotesOnly,[data-mc-conditions="Default.OnlySiteInternal"]+.BodyProxy .FeatureLayoutReleaseNotes #FeatureVersionRow {
    display: table-row
}

.FeatureLayoutUserGuide #FeatureCategoryRow,.FeatureLayoutUserGuide #FeatureDescriptionRow #Feature3Label,.FeatureLayoutUserGuide #FeatureDetailsRow #Feature3Label,.FeatureLayoutUserGuide #FeatureImprovementRow #Feature3Label,.FeatureLayoutUserGuide #FeatureNameRow,.FeatureLayoutUserGuide #FeatureReferenceRow #Feature3Label,.FeatureLayoutUserGuide #FeatureTagsRow,.FeatureLayoutUserGuide #FeatureTagsRow #Feature3Label,.FeatureLayoutUserGuide #FeatureTypeRow,.FeatureLayoutUserGuide #FeatureVersionRow {
    display: none
}

.FeatureLayoutUserGuide .Feature3TableCell {
    display: block
}

.FeatureLayoutUserGuide #Feature3ProductTags p {
    font-style: italic
}

.FeatureLayoutUserGuide #Feature3ProductTags p::before {
    content: 'tags: '
}

.FeatureLayoutUserGuide .Feature3UserGuideOnly {
    display: inline
}

[data-mc-conditions="Default.OnlySiteInternal"]+.BodyProxy .FeatureLayoutUserGuide .Feature3Table {
    background-color: rgba(0,0,0,.025);
    padding-left: 6px;
    padding-right: 6px
}

[data-mc-conditions="Default.OnlySiteInternal"]+.BodyProxy .FeatureLayoutUserGuide #FeatureVersionRow {
    display: block
}

.syntaxhighlighter a,.syntaxhighlighter code,.syntaxhighlighter div,.syntaxhighlighter table,.syntaxhighlighter table caption,.syntaxhighlighter table tbody,.syntaxhighlighter table td,.syntaxhighlighter table thead,.syntaxhighlighter table tr,.syntaxhighlighter textarea {
    -moz-border-radius: 0!important;
    -webkit-border-radius: 0!important;
    background: 0 0!important;
    border: 0!important;
    bottom: auto!important;
    float: none!important;
    height: auto!important;
    left: auto!important;
    line-height: 1.1em!important;
    margin: 0!important;
    outline: 0!important;
    overflow: visible!important;
    padding: 0!important;
    position: static!important;
    right: auto!important;
    text-align: left!important;
    top: auto!important;
    vertical-align: baseline!important;
    width: auto!important;
    box-sizing: content-box!important;
    font-family: Consolas,"Bitstream Vera Sans Mono","Courier New",Courier,Monaco,'Andale Mono',monospace!important;
    font-size: 1em!important;
    font-weight: 400!important;
    font-style: normal!important;
    min-height: inherit!important;
    min-height: auto!important
}

.syntaxhighlighter {
    width: 100%!important;
    margin: 1em 0!important;
    position: relative!important;
    overflow: auto!important
}

.syntaxhighlighter.source {
    overflow: hidden!important
}

.syntaxhighlighter .bold {
    font-weight: 700!important
}

.syntaxhighlighter .italic {
    font-style: italic!important
}

.syntaxhighlighter .line {
    white-space: pre!important
}

.syntaxhighlighter table {
    width: 100%!important
}

.syntaxhighlighter table caption {
    text-align: left!important;
    padding: .5em 0 .5em 1em!important
}

.syntaxhighlighter table td.code {
    width: 100%!important
}

.syntaxhighlighter table td.code .container {
    position: relative!important
}

.syntaxhighlighter table td.code .container textarea {
    box-sizing: border-box!important;
    position: absolute!important;
    left: 0!important;
    top: 0!important;
    width: 100%!important;
    height: 100%!important;
    border: none!important;
    background: #fff!important;
    padding-left: 1em!important;
    overflow: hidden!important;
    white-space: pre!important
}

.syntaxhighlighter table td.gutter .line {
    text-align: right!important;
    padding: 0 .5em 0 1em!important
}

.syntaxhighlighter table td.code .line {
    padding: 0 1em!important
}

.syntaxhighlighter.nogutter td.code .container textarea,.syntaxhighlighter.nogutter td.code .line {
    padding-left: 0!important
}

.syntaxhighlighter.show {
    display: block!important
}

.syntaxhighlighter.collapsed table {
    display: none!important
}

.syntaxhighlighter.collapsed .toolbar {
    padding: .1em .8em 0!important;
    font-size: 1em!important;
    position: static!important;
    width: auto!important;
    height: auto!important
}

.syntaxhighlighter.collapsed .toolbar span {
    display: inline!important;
    margin-right: 1em!important
}

.syntaxhighlighter.collapsed .toolbar span a {
    padding: 0!important;
    display: none!important
}

.syntaxhighlighter.collapsed .toolbar span a.expandSource {
    display: inline!important
}

.syntaxhighlighter .toolbar {
    position: absolute!important;
    right: 1px!important;
    top: 1px!important;
    width: 11px!important;
    height: 11px!important;
    font-size: 10px!important;
    z-index: 10!important
}

.syntaxhighlighter .toolbar span.title {
    display: inline!important
}

.syntaxhighlighter .toolbar a {
    display: block!important;
    text-align: center!important;
    text-decoration: none!important;
    padding-top: 1px!important
}

.syntaxhighlighter .toolbar a.expandSource {
    display: none!important
}

.syntaxhighlighter.ie {
    font-size: .9em!important;
    padding: 1px 0!important
}

.syntaxhighlighter.ie .toolbar {
    line-height: 8px!important
}

.syntaxhighlighter.ie .toolbar a {
    padding-top: 0!important
}

.syntaxhighlighter.printing .line.alt1 .content,.syntaxhighlighter.printing .line.alt2 .content,.syntaxhighlighter.printing .line.highlighted .number,.syntaxhighlighter.printing .line.highlighted.alt1 .content,.syntaxhighlighter.printing .line.highlighted.alt2 .content {
    background: 0 0!important
}

.syntaxhighlighter.printing .line .number {
    color: #bbb!important
}

.syntaxhighlighter.printing .line .content {
    color: #000!important
}

.syntaxhighlighter.printing .toolbar {
    display: none!important
}

.syntaxhighlighter.printing a {
    text-decoration: none!important
}

.syntaxhighlighter.printing .plain,.syntaxhighlighter.printing .plain a {
    color: #000!important
}

.syntaxhighlighter.printing .comments,.syntaxhighlighter.printing .comments a {
    color: #008200!important
}

.syntaxhighlighter.printing .string,.syntaxhighlighter.printing .string a {
    color: #00f!important
}

.syntaxhighlighter.printing .keyword {
    color: #069!important;
    font-weight: 700!important
}

.syntaxhighlighter.printing .preprocessor {
    color: gray!important
}

.syntaxhighlighter.printing .variable {
    color: #a70!important
}

.syntaxhighlighter.printing .value {
    color: #090!important
}

.syntaxhighlighter.printing .functions {
    color: #ff1493!important
}

.syntaxhighlighter.printing .constants {
    color: #06c!important
}

.syntaxhighlighter.printing .script {
    font-weight: 700!important
}

.syntaxhighlighter.printing .color1,.syntaxhighlighter.printing .color1 a {
    color: gray!important
}

.syntaxhighlighter.printing .color2,.syntaxhighlighter.printing .color2 a {
    color: #ff1493!important
}

.syntaxhighlighter.printing .color3,.syntaxhighlighter.printing .color3 a {
    color: red!important
}

.syntaxhighlighter.printing .break,.syntaxhighlighter.printing .break a {
    color: #000!important
}

.syntaxhighlighter,.syntaxhighlighter .line.alt1,.syntaxhighlighter .line.alt2 {
    background-color: #fff!important
}

.syntaxhighlighter .line.highlighted.alt1,.syntaxhighlighter .line.highlighted.alt2 {
    background-color: #e0e0e0!important
}

.syntaxhighlighter .line.highlighted.number,.syntaxhighlighter table caption {
    color: #000!important
}

.syntaxhighlighter .gutter {
    color: #afafaf!important
}

.syntaxhighlighter .gutter .line {
    border-right: 3px solid #6ce26c!important
}

.syntaxhighlighter .gutter .line.highlighted {
    background-color: #6ce26c!important;
    color: #fff!important
}

.syntaxhighlighter.printing .line .content {
    border: none!important
}

.syntaxhighlighter.collapsed {
    overflow: visible!important
}

.syntaxhighlighter.collapsed .toolbar {
    color: #00f!important;
    background: #fff!important;
    border: 1px solid #6ce26c!important
}

.syntaxhighlighter.collapsed .toolbar a {
    color: #00f!important
}

.syntaxhighlighter .toolbar {
    color: #fff!important;
    background: #6ce26c!important;
    border: none!important
}

.syntaxhighlighter .toolbar a {
    color: #fff!important
}

.syntaxhighlighter .plain,.syntaxhighlighter .plain a {
    color: #000!important
}

.syntaxhighlighter .comments,.syntaxhighlighter .comments a {
    color: #008200!important
}

.syntaxhighlighter .string,.syntaxhighlighter .string a {
    color: #00f!important
}

.syntaxhighlighter .keyword {
    color: #069!important
}

.syntaxhighlighter .preprocessor {
    color: gray!important
}

.syntaxhighlighter .variable {
    color: #a70!important
}

.syntaxhighlighter .value {
    color: #090!important
}

.syntaxhighlighter .functions {
    color: #ff1493!important
}

.syntaxhighlighter .constants {
    color: #06c!important
}

.syntaxhighlighter .script {
    font-weight: 700!important;
    color: #069!important;
    background-color: none!important
}

.syntaxhighlighter .color1,.syntaxhighlighter .color1 a {
    color: gray!important
}

.syntaxhighlighter .color2,.syntaxhighlighter .color2 a {
    color: #ff1493!important
}

.syntaxhighlighter .color3,.syntaxhighlighter .color3 a {
    color: red!important
}

.syntaxhighlighter .keyword {
    font-weight: 700!important
}

.syntaxhighlighter.collapsed .toolbar a:hover {
    color: red!important
}

.syntaxhighlighter .toolbar a:hover {
    color: #000!important
}

body .syntaxhighlighter .line {
    white-space: pre-wrap!important
}

.fancyCode,div.fancyCode,p.fancyCode {
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-color: #dfe0e6;
    background-color: #fafafa;
    font-family: Consolas,"Bitstream Vera Sans Mono","Courier New",Courier,Monaco,'Andale Mono',monospace!important;
    font-size: 1em!important;
    padding: 10px;
    margin: 0 0 15px;
    word-break: break-all;
    word-wrap: break-word;
    width: 847px;
    mc-hyphenate: never
}

span.fancyCodeNumColor {
    color: #BC3200
}

span.fancyCodeStrColor {
    color: #60a600
}

span.fancyCodePromptColor {
    color: maroon
}

span.fancyCodeBooleanColor {
    color: #900090
}

p.fancyCodeIdleOutputColor,span.fancyCodeIdleOutputColor {
    color: #009
}

p.fancyCodeIdleCommentColor,span.fancyCodeIdleCommentColor {
    color: #7A0000
}

div.fancyCode p {
    margin-bottom: .8px;
    margin-top: .8px
}

span.fancyCodeResWordColor {
    color: #F70
}

.CodeChar,.CodeCharNoShade,.notranslate {
    color: red
}

.CodeChar,.CodeCharNoShade,.code {
    font-family: Consolas,"Bitstream Vera Sans Mono","Courier New",Courier,Monaco,'Andale Mono',monospace!important;
    font-size: 1em!important;
    mc-hyphenate: never
}

.CodeChar pre,.CodeCharNoShade pre,.notranslate pre,pre.CodeChar,span.CodeChar,span.CodeCharNoShade,span.notranslate {
    color: #000
}

div.CodeChar,p.CodeChar,pre.CodeChar {
    background-color: #f4f5f5;
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 10px
}

p.CodeChar {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em
}

div.CodeCharNoShade,p.CodeCharNoShade {
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 10px
}

li.CodeChar {
    list-style-type: none;
    position: relative
}

li.CodeChar::before {
    display: inline-block;
    content: "• ";
    color: #000;
    position: absolute;
    left: -1em
}

li.CodeChar,li.CodeCharNoShade,span.CodeChar,span.CodeCharNoShade {
    font-size: 1em!important;
    style: "white-space:nowrap"
}

li.CodeChar,span.CodeChar {
    background-color: #f4f5f5
}

@media print {
    tr td div.CodeChar {
        width: 5in;
        font-size: .85em!important
    }
}

span.NameOfGuiSection,span.NameOfProduct {
    font-style: italic
}

span.NameOfGuiControl {
    font-weight: 700
}

#search-field {
    color: #000
}

span.SearchHighlight,span.SearchHighlight.SearchHighlight1,span.SearchHighlight.SearchHighlight10,span.SearchHighlight.SearchHighlight2,span.SearchHighlight.SearchHighlight3,span.SearchHighlight.SearchHighlight4,span.SearchHighlight.SearchHighlight5,span.SearchHighlight.SearchHighlight6,span.SearchHighlight.SearchHighlight7,span.SearchHighlight.SearchHighlight8,span.SearchHighlight.SearchHighlight9 {
    mc-hidden: hidden
}

p.figureCaption,p.tableCaption {
    font-style: italic;
    color: #000;
    font-weight: 400;
    font-size: .8em;
    margin-bottom: 2em
}

p.figureCaption {
    mc-auto-number-format: 'CF:Figure {n+}.  '
}

img.figureBorder {
    border-style: solid;
    border-color: #005596;
    border-width: 1px;
    padding: 1px
}

img.figureBorderGray {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 1px
}

p.tableCaption {
    mc-auto-number-format: 'T:Table {n+}.  '
}

MadCap|glossaryTerm {
    color: #15c;
    background-color: transparent;
    text-decoration: none;
    font-weight: 400;
    mc-term-display: popup;
    mc-image-position: none;
    mc-closed-image: none;
    mc-open-image: none
}

.disableGlossaryTerms,MadCap|xref,body.disableGlossaryTerms,li.disableGlossaryTerms,p.disableGlossaryTerms,span.disableGlossaryTerms,table.disableGlossaryTerms,td.disableGlossaryTerms,tr.disableGlossaryTerms,ul.disableGlossaryTerms {
    mc-disable-glossary-terms: true
}

.enableGlossaryTerms,body.enableGlossaryTerms,li.enableGlossaryTerms,p.enableGlossaryTerms,span.enableGlossaryTerms,table.enableGlossaryTerms,td.enableGlossaryTerms,tr.enableGlossaryTerms,ul.enableGlossaryTerms {
    mc-disable-glossary-terms: false
}

div.CodeChar,pre,span.CodeChar {
    mc-disable-glossary-terms: true
}

MadCap|footnote.footnote {
    mc-footnote-comment-format: '{n}';
    mc-footnote-format: '{n}'
}

MadCap|breadcrumbsProxy {
    border-bottom-style: none;
    mc-breadcrumbs-prefix: ' ';
    font-style: italic;
    color: #696969;
    mc-disable-glossary-terms: true;
    font-size: 1em
}

a.MCBreadcrumbsLink {
    text-decoration: none;
    font-weight: 700;
    color: #8cc63f;
    background-color: #fff
}

a.MCBreadcrumbsLink:hover {
    text-decoration: none;
    color: #fff;
    background-color: #8cc63f
}

MadCap|xref.paratext_only {
    mc-format: '{paratext}'
}

MadCap|menuProxy {
    background-color: #dcdcdc;
    border: 1px solid #000;
    mc-disable-glossary-terms: true
}

.MCPopupThumbnail {
    border: 1px solid #dcdcdc
}

MadCap|xref.Bookmark_Text {
    mc-format: '{paraxml}'
}

MadCap|footnote {
    mc-auto-number-format: '{n+} - '
}

MadCap|miniTocProxy,MadCap|pageHeader,MadCap|searchBarProxy,MadCap|tocProxy {
    mc-disable-glossary-terms: true
}

MadCap|topicToolbarProxy {
    mc-disable-glossary-terms: true;
    mc-breadcrumbs-count: 6
}

MadCap|glossaryProxy {
    text-transform: capitalize
}

html.showTOC {
    mc-toc-depth: 3
}

MadCap|dropDownHead {
    font-weight: 700
}

MadCap|dropDownBody {
    margin-bottom: 8px
}

.dropdownToggle {
    color: #666;
    font-size: 10pt;
    margin-right: 6px;
    position: absolute;
    right: 16px;
    padding-top: 18px
}

.inline {
    display: inline
}

@media print {
    .inline {
        display: block
    }
}

.inline div.MCDropDown,.inline div.MCExpandingHead,.inline span.MCDropDownHead {
    display: inline!important
}

@media print {
    span.MCExpandingBody {
        display: inline!important
    }

    div.MCDropDownBody,p {
        display: block!important
    }
}

.MCDropDown_Closed a.MCDropDownHotSpot,.MCDropDown_Open a.MCDropDownHotSpot {
    color: #5da5da;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none
}

.MCDropDown_Closed a.MCDropDownHotSpot:hover,.MCDropDown_Open a.MCDropDownHotSpot:hover {
    color: #467CA4
}

.MCDropDown_Open .MCDropDownHotSpot_ {
    background-image: url(../Images/_Flare_GUI/DropDownOpen.gif)!important
}

.MCDropDown_Closed .MCDropDownHotSpot_ {
    background-image: url(../Images/_Flare_GUI/DropDownClosed.gif)!important
}

:not(h1):not(h2)>span[class*="LimelightProduct Name"],:not(h1):not(h2)>span[class*="LimelightFeature Name"],:not(h1):not(h2)>span[class*="LimelightTechnology Name"] {
    font-style: italic
}

html.public {
    mc-master-page: url(../MasterPages/Public.flmsp)
}

html.publicHome {
    mc-master-page: url('../MasterPages/Public Home.flmsp')
}

body.publicBody {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 100%;
    width: 100%;
    margin: 0;
    max-width: none
}

body.publicBody table {
    max-width: none
}

body.publicBody ul li a {
    text-decoration: none
}

body.video {
    margin: 8px;
    min-height: 600px;
    padding-bottom: 120px;
    position: relative
}

body.video td ul {
    margin-top: 0;
    padding-top: 0
}

body.video td ul li {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: .1em
}

body.video #llnw-footer table {
    margin-top: 24px;
    width: 100%;
    border: 0;
    color: #fff
}

body.video #llnw-footer td {
    text-align: center;
    padding: 1em
}

body.video #llnw-footer .llnw-copyright {
    text-align: left
}

body.video #llnw-footer {
    position: absolute;
    bottom: 0
}

body.video #apiExplorer .iframefail {
    text-align: center;
    vertical-align: middle;
    color: #666
}

body.video #apiExplorer #api_selecter {
    margin: 15px 10px 10px
}

body.video #apiExplorer #api_select {
    display: block
}

body.video #apiExplorer .param>label {
    display: block;
    float: left;
    width: 10em;
    margin-right: .5em;
    text-align: right
}

body.video #apiExplorer .param>input,body.video #apiExplorer select {
    width: 30em
}

body.video #apiExplorer #format_select>span {
    margin-left: 2em
}

body.video #apiExplorer .hidden {
    display: none
}

body.video #apiExplorer .err_msg {
    padding-left: 11em;
    color: red
}

body.video #apiExplorer .required {
    font-weight: 700
}

body.video #apiExplorer #url_preview {
    padding: .5em;
    font-family: monospace;
    color: "#999";
    font-size: 1.2em
}

body.video #apiExplorer #select_button {
    padding: .5em
}

body.video #apiExplorer #credentials {
    float: right;
    min-width: 200px;
    border: 0 solid #bdc7d8;
    font-size: 10px;
    margin: 0;
    padding: 3px
}

body.video #apiExplorer #instructions {
    border-style: solid;
    border-width: 0;
    width: 600px
}

body.video #apiExplorer #main {
    height: 400px;
    border: 1px solid #BDC7D8;
    width: 970px
}

body.video #apiExplorer .input {
    border: 1px solid #BDC7D8;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    margin: 2px;
    padding: 3px
}

div.watermark,p.watermark {
    font-family: sans-serif;
    font-size: 36pt;
    font-weight: 700;
    opacity: .2
}

.internalOnly,.internalPrefix,.internalPrefixWithHyphen {
    background-color: #fffacd
}

div.internalOnly,div.internalPrefix,div.internalPrefixWithHyphen,table.internalOnly {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid red;
    margin-top: 10px
}

div.internalOnly,div.internalPrefix,div.internalPrefixWithHyphen,td.internalOnly,td.internalPrefix,td.internalPrefixWithHyphen {
    padding: 10px
}

tr.internalOnly {
    border: 1px solid red
}

li.internalOnly,p.internalOnly,p.internalPrefix,p.internalPrefixWithHyphen,span.internalOnly,span.internalPrefix,ul.internalOnly {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid red;
    margin-top: 3px;
    padding: 3px
}

div.internalOnly::before,div.internalPrefix::before,div.internalPrefixWithHyphen::before,li.internalOnly::before,p.internalPrefix::before,p.internalPrefixWithHyphen::before,span.internalPrefix::before,td.internalPrefix::before {
    color: red;
    border: 0;
    font-size: 1em
}

div.internalOnly::before,div.internalPrefix::before,div.internalPrefixWithHyphen::before,td.internalPrefix::before {
    display: block;
    padding-bottom: 6px
}

p.internalOnly,p.internalPrefix,p.internalPrefixWithHyphen {
    display: block;
    margin-top: 1em
}

div.internalPrefix div,div.internalPrefix h1,div.internalPrefix h2,div.internalPrefix h3,div.internalPrefix h4,div.internalPrefix table {
    background-color: #fffacd
}

@media screen {
    p.internalOnly,p.internalPrefix,p.internalPrefixWithHyphen {
        display: inline-block;
        margin-top: 1em
    }
}

@media print {
    p.internalOnly,p.internalPrefix,p.internalPrefixWithHyphen {
        display: inline-block;
        margin-top: 1em
    }
}

div.internalPrefix::before,p.internalPrefix::before,td.internalPrefix::before {
    content: "Internal Only "
}

div.internalPrefixWithHyphen::before,li.internalOnly::before,p.internalPrefixWithHyphen::before,span.internalPrefix::before {
    content: "Internal Only - "
}

div.writer_instructions {
    background-color: #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #00f;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px
}

body.video {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.45;
    color: #24292e
}

body.video h1 {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 1.6em
}

body.video h2 {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.4em;
    font-style: normal
}

body.video h3 {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.3em
}

body.video h4 {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.2em
}

body.video h5 {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.1em
}

body.video h6 {
    font-family: 'Helvetica Neue Light','Helvetica Neue Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1em
}

body.video a {
    color: #335378
}

body.video a:hover {
    color: #172b54
}

body.video a.MCBreadcrumbsLink:hover {
    color: #609340;
    background-color: transparent
}

body.video td {
    padding: 3pt
}

body.video li,body.video p,body.video td,body.video ul {
    font-size: 1em
}

body.video div.hint,body.video div.note,body.video div.notes,body.video p.hint,body.video p.note {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: .75em 1em
}

body.video div.note,body.video div.notes,body.video li.note,body.video p.note,body.video span.note {
    background-color: #edf0f3;
    border: 1px solid #172b54
}

body.video div.hint,body.video div.note,body.video div.notes,body.video p.note {
    margin-top: .5em;
    margin-bottom: .5em
}

body.video li>p {
    margin-top: .5em;
    margin-bottom: .25em
}

body.video li.CodeChar::before {
    content: "Ã¢â‚¬Â¢ "
}

body.video pre {
    font-family: Consolas,"Bitstream Vera Sans Mono","Courier New",Courier,Monaco,'Andale Mono',monospace!important;
    font-size: 1em!important;
    background-color: #f4f5f5;
    margin-left: 3em;
    color: #47515B
}

body.video #llnw-footer {
    width: 100%
}

body.video #llnw-footer table {
    background-color: transparent;
    border-top: 1px solid #dadcde;
    border-collapse: collapse
}

body.video #llnw-footer a {
    color: #81c427;
    text-decoration: none;
    font-size: .9em
}

body.video #llnw-footer a:hover {
    color: #609340
}

body.video #llnw-footer .llnw-copyright {
    padding-top: 1em;
    font-size: .675em;
    color: #91979d
}

body.video .dropdownToggle {
    color: #335378;
    cursor: pointer
}

body.video .dropdownToggle:hover {
    color: #172b54;
    cursor: pointer;
    text-decoration: none
}

body.video div.MCBreadcrumbsBox_0 {
    font-style: normal;
    color: #24292e;
    font-weight: 700
}

body.video .\000023text:link:hover {
    color: #15C;
    background-color: #E5E5E5;
    text-decoration: none;
    font-weight: 400
}
*/